* {
    box-sizing: border-box;
}

html{
    background-color: honeydew;
}
#calculator {
    display:flex;
    width: 360px;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 20px;
    background-color: grey;
    border-radius: 5px;
    border: 4px solid black;
}
    #calculator__screen {
        flex:1;
        background-color: white;
        margin:10px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 10px;
    }

    #calculator__buttons {
        display:block;
    }

        #buttons__wrap {
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin:10px;
        }
            .modifier,
            .operator,
            .number{
                flex:1 0 80px;
                margin: 2px 1px;
                height:40px;
                border: 1px solid black;
                border-radius: 5px;
            }

            .modifier {
                background-color: whitesmoke;
            }
            .operator {
                background-color: orange;
                border-radius: 20px;
                margin: 0 10px;
                flex:0 0 60px;
            }
            .number{
                background-color: white;
            }

            .number#zero {
                flex:2 0 80;
            }
