* {
    box-sizing: border-box;
}

html{
    background-color: honeydew;
}
body{
    margin:0px;
}

#calculator {
    display:flex;
    width: 360px;
    flex-direction: column;
    margin: 0px auto;
    margin-top: 20px;
    background-color: grey;
    border-radius: 10px;
    border: 2px solid black;
}
    #calculator__screen {
        flex:1;
        background-color: white;
        margin:10px;
        border-radius: 5px;
        border: 1px solid black;
        padding: 15px;
        text-align: right;
        font-size: 1.2rem;
    }

    #calculator__buttons {
        display:flex;
        flex-direction: row;
    }

        #buttons__wrap {
            display:flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin:10px;
            margin-right:2px;
        }
            .modifier,
            .operator,
            .number{
                flex:1 0 80px;
                margin: 2px 1px;
                height:40px;
                border: 1px solid black;
                border-radius: 5px;
                font-size: 1rem;
            }

            .modifier {
                background-color: rgb(218, 218, 218);
            }
            .operator {
                background-color: orange;
                border-radius: 20px;
                margin: 2px 5px;
                width:60px;
                flex:1 0 20px;
            }
            .operator:hover,
            .operator:active{
                background-color: rgb(255, 195, 83);
            }

            .number{
                background-color: white;
            }
            .number:hover,
            .number:active,
            .modifier:hover,
            .modifier:active{
                background-color: rgb(255, 244, 197);
            }

            #zero {
                flex:2 0 160px;
            }
        
        #buttons__operators{
            display:flex;
            flex-direction: column;
            justify-content: space-between;
            margin:10px 5px;
        }
        